<nav>
  <ul class="flex-container">
    <li class="" [ngClass]="{ disabled: currentPage === 0 }">
      <button [disabled]="currentPage < 1 ? true : null"  (click)="currentPage=currentPage-1">Prev</button>
    </li>
    <li [ngClass]="{active:i===currentPage}" *ngFor="let image of images; let i = index">
      <a  (click)="currentPage=i">{{ i + 1 }}</a>
    </li>
    <li
    class=""
    [ngClass]="{ disabled: currentPage === images.length - 1 }"
    
  >
    <button [disabled]="currentPage > 2 ? true : null"  (click)="currentPage=currentPage+1">Next</button>
  </li>
  </ul>
</nav>

<div>
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" />
</div>

<div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">
    Current Page is one
  </div>
  <div *ngSwitchCase="1">
    Current Page is two
  </div>
  <div *ngSwitchCase="2">
    Current Page is three
  </div>
  <div *ngSwitchDefault>
    Unknown current page!
  </div>
</div>




